In [140]:
import pandas as pd
import re

In [318]:
df = pd.read_csv("/Users/somanshugupta/Desktop/checklatest.csv")
df["combined"] = df["text"]
df2 = df[df.combined.str.contains("open")]
df2 = df2.drop(['text', 'combined'], axis=1)
df3 = df2['id'].tolist()
finaldf = df[df['id'].isin(df3)]
finaldf.head(5)
finaldflist = finaldf['combined'].tolist()

In [320]:
finahost = []
finaopenport = []
finassl = []
for i in finaldflist:
    if ("Nmap" in i):
        finahost.append((i.replace("Nmap scan report for ","")))
    elif ("open" in i):
        finaopenport.append(i.replace("/tcp open https",""))
    elif ("ss1-cert" in i):
        finassl.append((i.replace("| ss1-cert: Subject: ","")).replace("/organizationName-Goldman Sachs & Co. LLC/stateOrProvinceName-New York/countr",""))
list_of_lists = list(zip(finahost,finaopenport, finassl))

In [321]:
list_of_lists

[('10.1.61.140 ',
  '443',
  'commonName=c2.ue1.uat2.payments-config-server.cards.aws.cft.site.gs.com '),
 ('10.1.62.182',
  '443',
  'commonName=c1.ue1.uat2.customer-document.cards.aws.cft.site.gs.comyName-U '),
 ('10.1.61.140 ',
  '443',
  'commonName=c2.ue1.uat2.payments-config-server.cards.aws.cft.site.gs.com '),
 ('10.1.61.140 ',
  '443',
  'commonName=c2.ue1.uat2.payments-config-server.cards.aws.cft.site.gs.com ')]

In [322]:
finaldataframe = pd.DataFrame(list_of_lists, columns=["Host", "Port", "Common_Name"])

In [323]:
finaldataframe

           Host Port                                        Common_Name
0  10.1.61.140   443  commonName=c2.ue1.uat2.payments-config-server....
1   10.1.62.182  443  commonName=c1.ue1.uat2.customer-document.cards...
2  10.1.61.140   443  commonName=c2.ue1.uat2.payments-config-server....
3  10.1.61.140   443  commonName=c2.ue1.uat2.payments-config-server....